.custom-shape-divider-top-1741456221 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1741456221 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: clamp(5vh, 10vw, 15vh);
}

.custom-shape-divider-top-1741456221 .shape-fill {
    fill: var(--primary-color);
}

#skills-bg {
    // position: relative;

    height: 150vh !important;


    #skills {
        display: flex;
        flex-direction: column;

        #box {
            height: 30px;
            width: 30px;
            background-color: var(--primary-color);
            position: absolute;
            top: clamp(9vh, 10vw, 17vh);
            right: 8vw;
            transform: rotate(30deg) translate(-50%, -50%);
            z-index: -1;
            opacity: 0.2;
        }

        #dots {
            position: absolute;
            bottom: 0;
            left: 0;
            z-index: -1;
            width: min(50vw, 256px);
            height: min(50vw, 256px);
            -webkit-mask-image: radial-gradient(circle at bottom left, black, transparent 65%);
            mask-image: radial-gradient(circle at bottom left, black, rgba(0, 0, 0, 0) 65%);
            opacity: 0.2;
        }

        #project-title-bg {
            position: fixed;
            bottom: 0;
            left: 0;
            width: 100vw;
            overflow: hidden;
            height: 50vh;

            #project-title-container {
                position: absolute;
                bottom: 0;
                height: 100vh;
                width: 100vw;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: var(--secondary-color);
                color: var(--bg-color);

                h1 {
                    font-size: clamp(3rem, 8vw, 8rem);
                    font-weight: 800;
                    text-transform: uppercase;
                    text-align: center;
                    padding: 20px;
                }
            }
        }

        .skills {
            padding-top: clamp(5vh, 10vw, 15vh);
            padding-bottom: 20px;
            flex-grow: 1;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            #skills-top {
                padding-top: 20px;

                h1 {
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    font-size: 3rem;
                    font-weight: 800;
                    text-transform: uppercase;
                }

                img {
                    height: clamp(6vh, 5vw, 60px);
                }

                .box {
                    height: 20px;
                    width: 20px;
                    background-color: var(--primary-color);
                }

                .empty {
                    width: clamp(5vh, 5vw, 60px);
                    height: clamp(5vh, 5vw, 60px);
                    background-color: transparent;
                }

                .code-container {
                    position: relative;
                    height: clamp(6vh, 5vw, 60px);
                    width: clamp(6vh, 5vw, 60px);
                    filter: drop-shadow(0px 0px 0px transparent);

                    &:hover {
                        .code-name-container {
                            opacity: 1;
                        }
                    }

                    .code-name-container {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(0, -50%);
                        z-index: 1;
                        opacity: 0;
                        transition: opacity 1s;

                        svg {
                            transform: translate(10%, -30%);
                        }

                        p {
                            position: absolute;
                            top: -17.5px;
                            left: 60px;
                            font-size: 0.9rem;
                            font-weight: 500;
                            color: var(--primary-color);
                            margin-left: 10px;
                        }
                    }
                }

                display: flex;
                gap: 80px;

                #languages-container {
                    width: 50%;

                    #languages {
                        display: grid;
                        grid-template-columns: repeat(5, 1fr);
                        justify-items: center;
                        padding: 20px 0;
                        gap: 10px;
                    }
                }

                #technologies-container {
                    width: 50%;

                    #technologies {
                        display: grid;
                        grid-template-columns: repeat(5, 1fr);
                        justify-items: center;
                        padding: 20px 0;
                        gap: 10px;
                    }
                }
            }

            #skills-bottom {
                display: flex;
                justify-content: space-around;
                align-items: center;

                .count {
                    font-size: clamp(3rem, 8vw, 8rem);
                    font-weight: 1000;
                    text-align: center;
                    color: var(--primary-color);
                }

                p {
                    font-size: 1rem;
                    text-align: center;
                    color: var(--primary-color);
                    opacity: 0.5;

                    @media screen and (max-width: 768px) {
                        font-size: 0.8rem;
                    }
                }

                #skills-bottom-left {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    width: 50%;
                }

                #horizontal-line {
                    width: 1px;
                    height: clamp(5rem, 8vw, 8rem);
                    background-color: var(--primary-color);
                    opacity: 0.5;
                    margin: 0 20px;
                }

                #skills-bottom-right {
                    display: flex;
                    width: 50%;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                }
            }

            @media screen and (max-width: 920px) {
                #skills-top {
                    padding-top: 0;
                    flex-grow: 1;
                    flex-direction: column;
                    align-items: center;
                    gap: 20px;
                    justify-content: space-evenly;

                    h1 {
                        font-size: 3rem;
                    }

                    #languages-container {
                        width: 100%;

                        #languages {
                            grid-template-columns: repeat(7, 1fr);
                            margin-left: 0;
                        }
                    }

                    #technologies-container {
                        width: 100%;

                        #technologies {
                            grid-template-columns: repeat(7, 1fr);
                            margin-left: 0;
                        }
                    }
                }

            }

            @media screen and (max-width: 768px) {
                #skills-top {
                    h1 {
                        font-size: 2rem;
                    }

                    #languages-container {
                        #languages {
                            grid-template-columns: repeat(5, 1fr);
                        }
                    }

                    #technologies-container {
                        #technologies {
                            grid-template-columns: repeat(5, 1fr);
                        }
                    }
                }
            }
        }
    }
}