html {
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}

section {
    scroll-snap-align: start;
    min-height: 100dvh;
}

.container{
    margin: 0 auto;
    width: 100%;
    padding: 0 20px;
    max-width: 1200px;
    overflow: hidden;
}