html {
    scroll-behavior: smooth;
}

section {
    min-height: 100dvh;
}

.container{
    margin: 0 auto;
    width: 100%;
    padding: 0 20px;
    max-width: 1200px;
}

.scroll-bg{
    height: 400vh;
}

.scroll-container{
    position: sticky;
    overflow: hidden;
    top: 0;
}